[2012-02-23 22:59] lstratman opened #1 "Add the ability to reposition tabs"
Add the ability to drag tabs along the titlebar to reposition them within the collection.

[2012-02-23 23:00] lstratman opened #2 "Add the ability to tear tabs off into new windows"
Once a tab is dragged off the titlebar, it should be reinstantiated in a new window.

[2012-02-23 23:07] lstratman opened #3 "Hover over close button functionality"
Hovering over the close button in a tab should change the tab image appropriately.

[2012-02-23 23:07] lstratman opened #4 "Add tooltip support"
Add the ability to display tooltips for tabs.

[2012-02-24 14:46] lstratman opened #5 "Implement support for classic mode themes"
Make sure that the tabs function properly when a Vista/7 desktop is using a classic mode theme or the user is in Windows XP.

[2012-03-23 03:58] #3 closed, assigned to lstratman

[2012-03-28 14:27] cdhunt opened #6 "Unhandled Exception creating bookmark"
See the end of this message for details on invoking
just-in-time (JIT) debugging instead of this dialog box.

*************\* Exception Text **************
System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary.
   at System.Collections.Generic.Dictionary`2.get_Item(TKey key)
   at EasyConnect.RdpWindow._bookmarkMenuItem_Click(Object sender, EventArgs e)

[2012-04-23 18:39] #5 closed, assigned to lstratman

[2012-04-23 23:00] #6 closed, assigned to nobody

[2012-06-11 21:02] #1 closed, assigned to lstratman

[2012-07-04 00:27] lstratman opened #7 "Maintain tab width after close"
After closing a tab, maintain the existing width of the remaining tabs, just collapsing them to the left to cover the missing tab.  Once the cursor is moved out of the tab area, resize the tabs.

[2013-08-09 17:04] #2 closed, assigned to lstratman

[2013-08-09 17:05] lstratman opened #8 "Add context menu support"
Add the ability to support a standard context menu that appears when right-clicking on a tab and also the ability to support a custom context menu.

[2013-09-21 12:10] hchwork opened #9 "can't run at the xp or winNT5.1"
can't run at the xp or winNT5.1
## 这个不能运行在xp操作系统上, 问题似乎是因为操作系统使用的dll中不存在现在调用的方法.

System.DllNotFoundException: Unable to load DLL 'dwmapi.dll': 找不到指定的模块。 (Exception from HRESULT: 0x8007007E)
   at Win32Interop.Methods.Dwmapi.DwmExtendFrameIntoClientArea(IntPtr hWnd, MARGINS& pMarInset)
   at Stratman.Windows.Forms.TitleBarTabs.TitleBarTabs.SetFrameSize() in c:\Users\筹辉\Documents\GitHub.NETTitleBar

[2014-07-12 19:10] parkertomatoes opened #12 "Ugly divider between tab bar and content in VS 2013 and Windows 8.1"
There is a blue tab that cuts into the tab and tab text when I tried the test application in Windows 8.1.
![image](https://cloud.githubusercontent.com/assets/6298931/3562577/1a9d3940-09f8-11e4-9905-7961ebfd1237.png)

[2014-08-06 17:39] losubo opened #13 "Transparency of Tabs"
Hi, I just want to report a small issue that I solved it myself. By changing the form.opacity of the main window tabs continue to be completely opaque. With this small change tabs follows parent's transparency.

File: TitleBarTabsOverlay.cs
Function: Render
Change: SourceConstantAlpha = 255
To: (byte)(_parentForm.Opacity \* 255)

That's all. Thank you for sharing this excellent component.

[2015-02-20 22:35] xposure commented on #12
I have experienced the same issue on Windows 7. While your Caption Text is rather large and this doesn't address that, for anyone else looking, I had to make these changes. I'm not sure what these changes will do on other versions of the Windows OS.

TitleBarTabsOverlay.cs

		/// <summary>Sets the position of the overlay window to match that of <see cref="_parentForm" /> so that it moves in tandem

[2015-10-29 03:38] bruce5794163 commented on #9
那么怎么样去解决这个问题呢，我现在也遇到这样的问题啊。

[2016-04-12 02:44] zbooa opened #14 "It can be compiled in XP + VS2010.But can not run."
It can be compiled in XP + VS2010.But can not run.
This is Message:
"Unable to find entry point called "Attribute SetWindowTheme" in DLL "uxtheme.dll"."
I think it's a XP template problem, but can be modified to support XP ?
I think you can do it .Waiting for you.Give you kiss.

[2017-07-02 19:58] lstratman commented on #12
This is a .NET 4.0 vs. .NET 4.5 app issue regarding how the framework reports certain UI metrics that EasyTabs uses to position the overlay (see https://connect.microsoft.com/VisualStudio/feedback/details/763767/the-systemparameters-windowresizeborderthickness-seems-to-return-incorrect-value for details).  I've updated the code and the latest version of the NuGet package deals with this issue in a

[2017-07-02 19:58] #12 closed

[2017-10-19 04:51] Brainiac24 opened #15 "Error when create new tab programmaticaly"
Can't create new tab programmaticaly it says thread error in `Content.Parent = Parent;` in 143 line in TitleBarTab.cs file. How create new tab programmaticaly?

[2017-10-24 01:28] don59 opened #16 "how to create a new tab that do not show the icon in windows taskbar"
how to create a new tab that do not show the icon in windows taskbar? I want all tabs just show one icon in the windows taskbar like easyconnect.
![1](https://user-images.githubusercontent.com/8613083/31920760-9a16e002-b89d-11e7-90e5-042e22bd67a5.png)
![2](https://user-images.githubusercontent.com/8613083/31920866-2d8d4bfa-b89e-11e7-8cae-2f3af721d28c.png)

[2018-03-09 06:33] tigros opened #17 "same look but not in title bar?"
is it a very big deal to make this non title bar? i'd like to use it but dropped in a form or container. maybe add an option somewhere?

[2018-03-09 21:39] tigros commented on #17
never mind, gonna use it as is! great job!

[2018-03-09 21:39] #17 closed

[2018-03-20 13:07] tigros opened #18 "necessary suggestion"
i had mouse issues, it was too slow if busy or w/e, you definitely need to add this in TitleBarTabsOverlay.cs:

_mouseEventsThread.Priority = ThreadPriority.Highest;

Thanks a bunch for this project! love it!

[2018-04-03 15:27] tigros commented on #4
i did this, here it is.
[TitleBarTabs.zip](https://github.com/lstratman/EasyTabs/files/1872187/TitleBarTabs.zip)

[2018-05-12 05:25] new1271 commented on #16
VB:
Me.AeroPeekEnabled = False
C#:
this.AeroPeekEnabled = false;

[2018-05-14 05:40] #16 closed

[2018-06-05 02:15] ghostknow commented on #15
same question here, anyone have solution?

[2019-02-09 01:57] jacksiro254 opened #19 "Closing program after closing last tab"
I noticed when I closed the last tab or I simply close the entire program, it does not exit entirely but continues to stay in the background till I have to close with the task manager. Kindly help fix this or give us a hint on how to resolve this.

[2019-03-10 12:42] H0d3ine opened #20 "EasyTabs + CefSharp. Open link in new tab"
When you open a link from Google, a new window opens.
How to make it so that when you click on the link, the page opens in a new tab
Screenshot: https://pp.userapi.com/c845421/v845421640/1cba8d/5VF9-SF7aIo.jpg

[2019-05-27 03:20] lstratman commented on #9
Sorry, XP is not a supported operating system for this library.

[2019-05-27 03:20] #9 closed

[2019-05-27 03:25] lstratman commented on #13
Thanks!  This has been merged into the codebase and will show up in the NuGet package in the next few days.

[2019-05-27 03:25] #13 closed

[2019-05-27 04:19] lstratman commented on #4
Thanks for the contribution!  Sorry it took me so long to integrate it, but it should show up in the NuGet package in the next few days.

[2019-05-27 04:19] #4 closed

[2019-05-27 04:20] lstratman commented on #18
This was merged in #4 and will show up in the NuGet package in the next few days.

[2019-05-27 04:20] #18 closed

[2019-05-27 04:25] lstratman commented on #15
If you are creating the new tab outside of the UI thread for the application, you have to use Form.Invoke() to run that action on the UI thread.  Something like:

[code]

Sorry for the delay in replying, if you're still using this library, let me know if this fixes your issue.

[2019-05-27 04:25] lstratman commented on #14
Sorry, XP is not a supported operating system.

[2019-05-27 04:25] #14 closed

[2019-05-27 13:20] tigros commented on #18
heh Thanks! I later found out that putting the SetWindowsHookEx also in it's own high priority thread helps alot too, but I'm dealing with major amounts of threads so not needed in typical situations.
I can pass you that if you're interested.
Have a look at what I did with your code, https://integritech.ca if you find it useful anyone reading this and trying it just send me HID I'll send you back

[2019-05-27 13:37] tigros commented on #18
I just remembered tho putting SetWindowsHookEx in it's own thread caused odd low fps in at least 1 game Grid autosport, so you need to unhook when app is deactivated, in other words maybe forget I mentioned it it's too risky :) cheers!

[2019-06-02 07:14] raithoz opened #21 "Lock First Tab"
Is there a way to lock the first tab, but also so it won't move at all. Even if you drag another tab to the left of it.

[2019-10-11 18:02] airannarvaez opened #22 "Dark Mode"
Hi,

How can I give dark mode to the top bar? what is the best strategy to achieve this?

[2019-10-14 05:57] tigros opened #23 "Aero Peek not well in Windows 10"
Hi,

With AeroPeekEnabled set to true there's a display problem on Win 10 when peeking, there's hour glass and blankness.

Since AeroPeekEnabled set to false works with any luck it's something minor but where?

Cheers!

[2019-11-04 14:50] Haltroy opened #24 "Ability to change colors"
Hi,
Is there a way to change colors?
I want to change tab color on ChromeTabRenderer but I could not manage to find  anything regarding to "Color".

[2019-11-06 12:29] Haltroy commented on #24
My question is similar to #22 but I want more than just dark and light mode. I want to change it to any color.

[2019-11-07 15:40] Haltroy commented on #24
I figured it out.
To do this, we need to recolor every image (or create those images with code) and then use it.
I'm trying to turn those images into a code so when we need to use them we can just draw those and turn those drawings to an image that can be used by BaseTabRenderer.

[2019-11-08 14:18] Haltroy commented on #24
I managed to recolor them in a code using these codes:

private static int LowerBrightnessIfNeeded(int defaultint, int lower) => defaultint > lower ? defaultint - lower : defaultint;

        private static int MoreBrightnessIfNeeded(int defaultint, int add, int limit) => defaultint + add > limit ? defaultint : defaultint + add;

        private static bool IsBright(Color c){return (int)Math.Sqrt(

[2019-11-09 10:08] Haltroy commented on #24
I finished it.
[Here's the files that I changed.](http://haltroy.com/EasyTabs-Color-Code.zip)
(Writing every change on here would take more time than making those changes.)

I removed Inactive tab images because I can just adjust brightness and they will be faded out.
I also did some changes to images directly to remove ugly-looking color problems.
(I also replaced CloseButton and it's hover image

[2019-11-16 20:43] Haltroy commented on #24
Just add an option to change text color. We can do the rest easily.

[2019-12-14 09:02] #24 closed

[2019-12-25 10:24] astromediaonly opened #25 "Visual options"
Hi, i wonder if this is still alive but if there is still chance i have few questions:

1) When i create custom renderer and i will not override ``OverlapWidth`` or set too small or negative number then im greeted with ``System.ArgumentOutOfRangeException`` during tab creation with this stack trace:
[code]

[2020-01-03 22:44] thedroid opened #26 "FormClosing Event"
It seems that the FormClosing / FormClosed events for the tabs are never called when the application is closed from the main form's close(X) button.  The events do get called if closed using the tab's close(X) button.   Is there a way to intercept the main close button event?

[2020-01-05 02:10] thedroid commented on #26
Sorted by modifying TitleBarTabs.cs to make TitleBarTabs a protected virtual, so that we can subscribe to it using ParentTabs.FormClosing += ParentFormClosing.

[2020-01-06 22:17] tigros commented on #23
finally decided to dig deep today, what i've found is in TitleBarTabs.cs look for both
preview.PeekOffset = new Vector(Padding.Left, Padding.Top - 1);
and change them to
preview.PeekOffset = new Vector(Padding.Left, Padding.Top);
so it was only when maximized, TabRenderer.TabHeight == SystemInformation.CaptionHeight AFAIK the - 1 is not needed, correct me if i'm wrong.
Thanks!

[2020-01-26 10:24] Haltroy commented on #20
This seems to be a `CefSharp` related problem, not `EasyTabs`.
[This](https://stackoverflow.com/a/30557700) can solve your problem.

[2020-03-15 18:13] Rondell9451 opened #28 "How to make new tab?"
So I'm using this, works tremendously, however the only issue I encountered is how do I make a new tab ?

So, I have my regular tab, and [when I make a new tab by clicking the + button it creates a replica of the main tab. ](https://i.gyazo.com/5bbeba14ead0e52511f014f54242806d.mp4), like it suppose to do, however, [how do I fix it so when I click like 'Configurations' it shows a different page?](h

[2020-03-30 15:55] Haltroy commented on #28
Well, you have to implement it by yourself.
Duplicate the `CreateTab()` in same for but add a new parameter. Use `if` for that parameter.

    public void CreateTab(bool Config)
    {
    TitleBarTab newTab;
        if (Config)
        {
          newTab = new TitleBarTab(this)
            {
                Content = new frmConfig
            };
         } else {
            newTab = new TitleBarT

[2020-03-31 03:49] maihcx opened #29 "Issue Title Tab context menu and UI cannot restore from Maximized to Normal properly"
I found the problem on the tab's context menu
When I right click, it will crash if I select Close on the menu. Again, the UI cannot restore the correct location from Maximize to Normal if I move the form to the top screen.

[2020-04-17 18:41] digao-dalpiaz opened #30 "Form Closing event Cancel=True not stopping Tab Closing"
Hello,

I'm using EasyTabs and I am not able to figure out how to stop closing a tab.

The Form has an event FormClosing, so I set `e.Cancel = True`, but even with this the form Tab is closing undesirably.

Let me say EasyTabs is incredible project! Thanks.
Regards.

[2020-04-20 15:45] maihcx commented on #30
You can use "Overide Protected Void OnClosing" to fix it.

[2020-04-20 15:48] maihcx commented on #30
![image](https://user-images.githubusercontent.com/59072697/79771424-f2ace800-8358-11ea-9481-11bf8b00359a.png)
i customer this for new UI.

[2020-04-20 17:31] digao-dalpiaz commented on #30
I didn't understand.

In TitleBarTabs.cs there is a method TitleBarTabs_Closing:

[code]

I think should have an If in this method to check Cancel=True and stop tab closing.

If I override closing method, this internal method still closing tab.

[2020-04-20 22:26] digao-dalpiaz commented on #30
Now it seems to be working correctly. I added a condition in TitleBarTabs_Closing:

[code]

[2020-05-06 10:08] TheReactiveMouse opened #32 "How to change tab name?"
How to change tab name? I'm making my browser, i'm need after loading page, change tab name to web site title.

[2020-05-12 12:08] bobowk commented on #32
This one's easy.
this.ParentTabs.SelectedTab.Caption = text.Text

[2020-05-12 12:10] bobowk opened #33 "Mouse Move Delay"
Hello!
I've recently noticed a massive and laggy delay when dragging the tabs across the titlebar. It's almost unusable and pretty slow. I haven't modified the code at all and I've tried, but it's not working. Has anyone else come across this problem and fixed it?

[2020-05-12 23:24] bobowk commented on #33
![ezgif-1-958a2012caed](https://user-images.githubusercontent.com/60067581/81755205-82c6f300-94fb-11ea-887e-f6a8e7250b6e.gif)

[2020-05-17 09:21] prima-facie commented on #32
@bobowk Can you explain a little bit more? This one doesn't work for me.

[2020-05-18 16:29] TheClashFruit opened #34 "How to make custom tab renderer?"
I want to make custom tabs like firefox

[2020-05-21 10:40] Haltroy commented on #34
You can change the images (from Resources) or draw them yourself (by using [`BaseTabRenderer.cs`](https://github.com/lstratman/EasyTabs/blob/master/BaseTabRenderer.cs) or customizing that file and using customized BaseTabRenderer as renderer).

[2020-05-23 19:43] shawon0709 opened #35 "Show Icon In Taskbar"
Hello

Is there any way to show only one TabForm in taskbar instead of multiple tab

Thanks

![Untitled](https://user-images.githubusercontent.com/12869065/82739237-d937fb00-9d5f-11ea-8037-32aa8a51d0bf.png)

[2020-06-01 10:40] gaumo62 opened #36 "Resize Tab Menu Height"
How to resize the tab menu height. I tried making a new Renderer but it showed error in finding resources. All TabRenderer.TabHeight Properties are just read only

[2020-06-01 10:42] gaumo62 opened #37 "Use EasyTabs as a user control"
Currently easytabs is derived from the Form Class. I need to implement the tab layout inside a main form, with easytabs as a user control within the main form. Please add this option

[2020-06-02 10:07] gaumo62 commented on #36
I figured out a solution.
1.  Download the repository
2.  Copy the png images in EasyTabs to your Project's Properties.Resources. and use the resources.resx to add them to your project's resources
3.  Now just create you own tab renderer(copy the chrome tab renderer code for start)
4. The size of the tab is decided using these png images. So resize those to get bigger tabs. Set margins below accor

[2020-06-02 10:07] #36 closed

[2020-06-30 14:43] vlogozzo commented on #19
+1

[2020-08-10 14:08] #22 closed

[2020-08-26 15:58] elipgo opened #38 "Does not allow moving the tabs between vertical monitors"
Hi

If the monitors are organized up/down, it does not accept to move it by dragging the window vertically, it allows to drag it only between monitors horizontally.

![image](https://user-images.githubusercontent.com/16120087/91324075-04374e00-e798-11ea-9109-f36c6cf0c409.png)

Thanks

[2020-09-02 22:12] slprogrp opened #39 "Tooltip code not in latest Nuget package"
Hi there,

I can see the tooltip code in the master branch, but it is not in the latest Nuget Package.
In VS 2019 when I Manage Nuget Packages and search for EasyTabs it says the Latest Package is 1.3.3 and it was published on the Sep 10 2017.  This does not include the tooltip code.

Is there any chance you could update nuget to the latest code please?

[2020-09-09 20:34] lstratman commented on #35
Yes, set the `AeroPeekEnabled` property of your form class that inherits from `EasyTabs.TitleBarTabs` to `false`.  This will simply display the contents of the window in the titlebar instead of thumbnails for each tab.

[2020-09-09 20:34] #35 closed

[2020-09-09 21:20] lstratman commented on #39
Yep, I'm back working on this project after a long time away from it.  I've just published a beta version of the package with the look and feel from the latest Chrome and also the tooltips code.  Feel free to download it and let me know if you run into any problems.  I'm going to take a few days to integrate it with another project of mine for final testing, after which point I'll publish an "offi

[2020-09-10 05:54] slprogrp commented on #39
Luke,

Thanks for the update, this is great news!
Can I add this to the list as it seems that when you close the main application the OnFormClosing event is not raised on forms loaded into EasyTabs.
I found this issue on it:
https://github.com/lstratman/EasyTabs/issues/26

I tried the suggested work around but it didn't work for me.

[2020-09-10 20:51] vdemichev commented on #30
Hi Luke,

I have been using EasyTabs and it's fantastic! Many thanks!
This is the only bug so far :) Would it be possible to fix it as suggested?

Best wishes,

Vadim

[2020-09-11 12:10] slprogrp commented on #39
Oh and this would be a great one to fix as well :-)

Closing program after closing last tab #19

[2020-09-12 18:44] lstratman commented on #32
@bobowk is right on.  You can also get a specific tab from the `Tabs` property of `TitleBarTabs` and set properties of specific tabs that way or set the `Text` property of the content form being displayed in the tab and redraw the tabs by calling `TitleBarTabs.RedrawTabs()`.

[2020-09-12 18:44] #32 closed

[2020-09-12 20:29] lstratman commented on #30
A pull request has been merged for this and I've added some additional code to explicitly call `Close()` on each tab form when the application form's `FormClosing` event is triggered.  If any of the tabs cancel their close (`e.Cancel = true`) then the overall application's `FormClosing` event is cancelled and the application stays open.

This is in the 2.0.0-beta2 version of the package that I jus

[2020-09-12 20:30] lstratman commented on #39
That issue should now be resolved in the latest 2.0.0-beta2 version of the NuGet package that I just published.

[2020-09-12 21:12] lstratman commented on #28
@Haltroy is right on the money (thanks!), so I'm closing this out.

[2020-09-12 21:12] #28 closed

[2020-09-12 21:47] lstratman commented on #20
The test app now also uses CefSharp for its rendering engine and it opens popups in new tabs using the approach in the link provided by @Haltroy  above.

[2020-09-12 21:47] #20 closed

[2020-09-13 14:31] lstratman commented on #37
Unfortunately, this isn't really feasible with the current architecture.  There's a lot of plumbing that is necessary to hook up the tabs overlay to the overall application window that I would be reluctant to make large number of changes to in order to enable what is really a completely different way of rendering and managing the tabs.

All of the tab rendering is actually done in `TitleBarTabsOve

[2020-09-13 15:13] lstratman commented on #29
The fix for closing from the titlebar context menu is in the codebase and will be in a beta version of the NuGet package that I'll publish in the next day or so.

[2020-09-13 15:29] lstratman commented on #19
I haven't been able to reproduce this on my side using either my test application or the other project I have that uses this library.  What does your main form class look like and what does the `Main()` method for your application look like?

[2020-09-13 15:31] #15 closed

[2020-09-13 15:42] lstratman commented on #21
This would probably be best be served with a fork of this project.  It's a pretty specific requirement that would require quite a bit of reworking of the drag and drop logic to accomplish.  If someone would like to take this on or investigate this, I'd be happy to take a pull request.

[2020-09-14 05:49] slprogrp commented on #39
Luke,

Thanks for the update.  I put in the NuGet package but when I start my app I get the following error:

Could not load file or assembly 'Svg, Version=2.4.3.29446, Culture=neutral, PublicKeyToken=12a0bac221edeae2' or one of its dependencies. The system cannot find the file specified.

With the stacktrace:

   at EasyTabs.WindowsSizingBoxes.LoadSvg(String svgXml, Int32 width, Int32 height)

[2020-09-14 13:28] lstratman commented on #39
Sorry, my bad, didn't have the `Svg` package listed as a dependency in the .nuspec.  This should now be resolved in the beta5 package that I just published.

[2020-09-14 21:19] vdemichev commented on #30
Cool, works! :) Thank you very much!

[2020-09-14 22:02] lstratman commented on #33
I apologize for taking this long, but I'm just starting up work on this project again.  If you're still interested in a solution, can you run the task manager while you're doing the dragging?  Is the CPU pegged?  If so, is it your application the one that's taking all of the CPU or it something else like antivirus?  Also, have you customized the tab renderer at all, like in the `Render()` method?

[2020-09-14 22:06] lstratman commented on #38
I haven't been able to reproduce this on my side:  I've oriented two of my monitors vertically like you have above, and I'm able to drag the main window up into the second monitor and am also able to tear tabs off of the main window and drag them to the second window without any issues.  Are you using the latest version of this package in your application?  I've released a series of betas over the

[2020-09-18 20:57] lstratman commented on #39
This has been officially released in the 2.0.0 version of the package that I just deployed.

[2020-09-18 20:57] #39 closed

[2020-09-18 20:57] lstratman commented on #30
This has been officially released in the 2.0.0 version of the package that I just deployed.

[2020-09-18 20:57] #30 closed

[2020-09-18 20:57] lstratman commented on #26
This has been officially released in the 2.0.0 version of the package that I just deployed.

[2020-09-18 20:57] #26 closed

[2020-09-18 20:58] lstratman commented on #29
This has been officially released in the 2.0.0 version of the package that I just deployed.

[2020-09-18 20:58] #29 closed

[2020-09-20 21:47] slprogrp opened #41 "How to add a panel underneath tabs"
Hi there,

Great work on getting version 2 out!!
In Chrome, when you download a file a panel appears at the bottom of the application, underneath the tabbed content.  This panel contains the download progress, and is present across all tabs, as it is underneath the tab control, which just resizes to fit above it.

How can I add a panel to the bottom of the AppContainer form that shows no matter wh

[2020-09-24 00:53] lstratman commented on #41
This is something specific to the implementing application rather than an EasyTabs enhancement.  You could start with implementing your tab forms to resize themselves to reduce their height to expose the bottom bar and then add something to your TitleBarTabs class to draw that panel at the bottom.  But again, this would be something that would be up for the implementing app to figure out.

[2020-09-24 00:53] #41 closed, assigned to nobody

[2020-09-24 02:51] maihcx opened #42 "Create new tab in new windows"
Hi, how i can create tab in new window ?

[2020-09-24 02:54] maihcx opened #43 "New window created when dragging from tab is always maximized"
after I drag the tab outwards, the generated window is always maximized

[2020-09-24 03:07] maihcx commented on #42
So, i can do it. I add my code in TitleBarTabs.cs

    public virtual void AddTabToNewWindow(TitleBarTab tab)
        {
            TitleBarTab _tornTab = tab;
            TitleBarTabs newWindow = (TitleBarTabs)Activator.CreateInstance(this.GetType());

            Screen screen = Screen.AllScreens.First(s => s.WorkingArea.Contains(Cursor.Position));

            newWindow.StartPosition = FormStar

[2020-09-24 13:06] lstratman commented on #42
Yes, that's the standard way to do this.  You actually don't need to modify the source of the `TitleBarTabs` class, you can simply add this method to your application's `Form` class that inherits from `TitleBarTabs`.

[2020-09-24 13:06] #42 closed, assigned to nobody

[2020-09-24 13:07] lstratman commented on #43
I will add code to the tab tearing process to create the new window in the same state that the original window was:  it the original was maximized, so will the new one, but otherwise, we'll create the new window as the same size as the original.

[2020-09-24 13:09] lstratman commented on #23
I'll be working on improving AeroPeek support for the 2.1 release.

[2020-09-25 01:18] maihcx commented on #43
i can see issue in TitleBarTabs the WindowState is Maximized
![image](https://user-images.githubusercontent.com/59072697/94215686-9baece80-ff07-11ea-9b4c-8b6ab4715f58.png)

[2020-09-29 03:59] slprogrp opened #45 "Is it possible to prevent the Tab Tear Off functionality?"
Hi there,

I want to be able to disable tab tear off, but keep the ability to change the order of the tabs.
I can't find a way to do this, is it possible?

Thanks for your time.

[2020-09-30 03:59] slprogrp commented on #45
I worked out how to do this.

- Add a new property DisableTabTearing to BaseTabRenderer.
- Update TitleBarTabsOverlay with the following code:

From this:
`// If the cursor is outside the tear area, tear it away from the current window`
`if (!dragArea.Contains(cursorPosition) && _tornTab == null)
{
...
`

To this:
`// If the cursor is outside the tear area, tear it away from the current window`
`i

[2020-09-30 03:59] #45 closed, assigned to nobody

[2020-10-02 09:26] TheSxW opened #46 "Incognito mode ?"
is there a way to enable incognito mode for each tab ?

[2020-10-02 17:57] lstratman commented on #46
This isn't something that EasyTabs itself controls, that's up to the implementing application and what it does with the browser control that it uses.

[2020-10-02 17:57] #46 closed, assigned to nobody

[2020-10-16 17:19] Armadain opened #48 "Scaling winforms in Windows 10"
Tab display issues occur when window scaling changes in Windows 10.  Screenshot(scaling 150%): https://drive.google.com/file/d/1Vv6WX4FLQcOQlr5afX2Az7moft98xWXf/view?usp=sharing

[2020-11-09 20:00] elipgo commented on #38
Hi, When the application is Maximixed, it does not create the tab on the second vertical monitor and does not allow dragging to it.

I am using the 2.0 release .

[2020-12-15 15:25] qiangvei opened #53 "The right-click menu text on the page is not displayed"
Make it into an installation package and run it after installation. The right-click menu text on the page is not displayed, but it is displayed normally in the Debug directory. What is the reason?

[2020-12-15 15:42] #53 closed, assigned to nobody

[2020-12-22 12:36] Haltroy commented on #34
I noticed that my answer wasn't that much clear. So sorry about that.
First, create a class in your project (ex. MyCustomTabRenderer.cs) and add ` : BaseTabRenderer` next to `class [YourClassName]`

      ...
      using EasyTabs;
      namespace MyApp
      {
         class MyCustomTabRenderer : BaseTabRenderer
         {
            public MyCustomTabRenderer(TitleBarTabs parentWindow) : base(pa

[2021-01-11 23:51] LeviBickel opened #54 "Adding Programmatically created tab to tablist."
I am trying to programmatically add a new tab with a contextmenustrip. I have the menu working and I can create a new window successfully using the following:
`
                AppContainer app = new AppContainer();
                var newtab = new TitleBarTab(app) { Content = new BrowserMain(parameters.LinkUrl) { Text = "New Tab" } };
                app.Tabs.Add(newtab);
                app.Sele

[2021-01-27 10:53] jarno9981 opened #55 "How to get browser url a tabs text and icon"
!help

How to get browser url and icon in the tabs bar text and icon   ,  example go to youtube.com = tabs youtube icon + youtube.com

[2021-01-31 18:14] jarno9981 commented on #55
@lstratman   ?? How to get url name and icon in the tabs

[2021-01-31 19:03] lstratman commented on #55
The sample project for this project already does this, for the both the site’s favicon and its title, so look at the sample browser application code included in this repository if you want to see how to do that.

________________________________
From: jarno9981 <notifications@github.com>
Sent: Sunday, January 31, 2021 1:15:06 PM
To: lstratman/EasyTabs <EasyTabs@noreply.github.com>
Cc: Luke Stratma

[2021-01-31 20:29] jarno9981 commented on #55
Oke i will look into it

[2021-02-09 18:51] #55 closed, assigned to nobody

[2021-02-19 19:06] #34 closed

[2021-02-21 14:03] EnergixCoding opened #57 "Black Window behind application."
Hi, Im experiencing a weird bug when using EasyTabs 2.0.0.
(I think its a bug, it may be intentional though.)

I get a weird black screen behind my application.

Heres a screenshot of it:
![image_2021-02-21_140241](https://user-images.githubusercontent.com/60826337/108627425-76d66d00-744d-11eb-90f2-b038aa7beac5.png)

How I got this:
I just was working on a webbrowser using Bunifu UI and EasyTabs,

[2021-02-25 04:16] NetworkStream opened #58 "RTL support"
how can i create right to left layout with easytabs ?
thanks in advance

[2021-02-28 03:52] AW1534 opened #59 "I don't understand how to customise the tabs"
as the title says, I don't understand how to customise the tabs.

Edit: By customise I mean change the appearance. they currently have a chrome like appearance and I hate how chrome looks. I am looking for something more like edge

In the readme.md it says to inherit from BaseTabRenderer which I did (at least I think I did) but ended up with this error
![image](https://user-images.githubuserconten

[2021-03-05 13:23] Haltroy commented on #59
I think you forgot to add the constructor.
Try adding a constructor into that class like this:

     public TabStyle(TitleBarTabs parentWindow) : base(parentWindow)
     {
         // Your custom code here
     }

You can check out the [ChromeTabRenderer.cs](https://github.com/lstratman/EasyTabs/blob/master/ChromeTabRenderer.cs) class for an example.

[2021-03-05 13:45] ivanthesexy commented on #54
On the second code, you are not adding it to the tabs list, you are only just creating a new tab.
To add new tabs, you must create and add them to the list.
Try adding `app.Tabs.Add(newtab);` after `var newtab = new TitleBarTab(app) { Content = new BrowserMain(parameters.LinkUrl) { Text = "New Tab" } };`.

[2021-03-05 13:45] ivanthesexy commented on #57
The reasons are:
 - You didn't created a new tab, since this is the default `BackColor` of `TitleBarTabs`. Solving this is easy and this is very likely the case in here.
 - Somehow Bunifu UI messed the `Paint()` and makes EasyTabs unusable. Solving this is super hard since I have no idea about Bunifu UI but that shouldn't be a problem.

To solve the first one:
 - Try adding a new tab programmatica

[2021-03-05 13:45] ivanthesexy commented on #58
EasyTabs currently does not support right-to-left tabs. You have to implement it all by yourself. This is not a bad idea but requires a little knowledge about how EasyTabs works so it might be a little hard.

[2021-03-05 15:05] LeviBickel commented on #54
@ivanthesexy Thank you for the response. I have tried that and it still isn't working. Please take a look at my repository for the full code specifically this is on the ContextMenuHandler Line 105 : https://github.com/LeviBickel/Chromium-Browser/tree/Fixing-Open-In-New-Tab

`AppContainer app = new AppContainer();
                var newtab = new TitleBarTab(app) { Content = new BrowserMain(paramet

[2021-03-05 15:39] ivanthesexy commented on #54
Just noticed that you did also created a new container and added your tab to it. Of course it won't work because we didn't added it to our real list. Sorry about that. You need to change `app` container and use your original TitleBarTabs form instead.
You don't need to create another container if you want to add new tabs to an already created container at the beginning. I created a pull request in

[2021-03-06 10:59] jarno9981 opened #60 "How to set some password on tabs for parent controls"
C# winforms easytabs is it possible to set password for parent controls example if you visit a site the tab pause and some textbox with button ask for password to continu,

(How to change tab icon if you visit youtube how to get youtube icon in tab)

[2021-03-06 13:56] LeviBickel commented on #54
@ivanthesexy  I really appreciate the pull request! I have confirmed the tab is opening but, the URL isn't getting passed over for some reason. I will start investigating this. I really appreciate the help!!

[2021-03-06 13:56] #54 closed, assigned to nobody

[2021-03-14 17:55] jarno9981 commented on #60
@Haltroy  now idee how to do it?? ^

[2021-03-14 19:01] Haltroy commented on #60
First of all, I'm not the maintainer of this repository. This repository belongs to @lstratman, not me. Don't believe me? check the name of this repository. So please don't expect me to answer all the questions.

Second of all, yes, you can do that. After all, you can add any controls as long as you want. However, you have to add them by yourself since abstract classes cannot be drawn in design mo

[2021-04-08 22:23] Foreverably opened #61 "How to add The tabs on a different form rather than the main form."
I have been wondering this for a while, but I kind of want help on this

How can I put the tabs on a different form rather than the main form
ex. form1 has the tabs, and form2 is using the tab reference, same but with form2 having it and form3 using the reference.

like I said, I kind of want help on this

[2021-04-13 00:02] #61 closed, assigned to nobody

[2021-04-16 08:28] jarno9981 opened #62 "Please add .net 5 support"
Can you add .net 5 support

[2021-04-16 08:28] jarno9981 commented on #62
@lstratman can you add .net 5 support

[2021-04-16 15:10] jarno9981 commented on #54
@LeviBickel

How did you add easytabs programmatily

[2021-04-16 15:49] Haltroy commented on #54
What do you mean by "add easytabs programmatily"? Details on installing EasyTabs are located right below in [README](https://github.com/lstratman/EasyTabs/blob/master/README.md) of this repository or install the NuGet package from NuGet Package Manager. If you meant to ***create tabs*** programmatically, just use `CreateTab()` in your TitleBarTabs form (the main form, the one that contains the tab

[2021-04-16 16:08] LeviBickel commented on #54
@jarno9981 Feel free to fork my Browser repo. https://github.com/LeviBickel/Chromium-Browser

[2021-05-04 14:15] jarno9981 opened #63 "Easytabs dragging a tab out - Bug"
When you have 2 tabs open en you drag 1 tab out the top right corner the close en maximize en minimize images get's smaller

[2021-05-04 14:16] #60 closed, assigned to nobody

[2021-05-08 04:20] manfromarce opened #64 "Exception when dragging a tab out"
When a tab is dragged out, a new window isn't created and the application crashes.  It throws a "Object reference not set to an instance of an object" exception in external code.
Everything works when reordering tabs in a single window.
I'm using .NET Framework 4.7.2 and latest Windows 10 version.

[2021-05-29 12:26] Foreverably commented on #64
its because you are trying to maximize it when it is being dragged, yes this happened to me like any other browser drag it out close but not to close to the tabs and you wont have the error

[2021-06-08 11:09] jarno9981 opened #65 "Qeustion How To Add tooltip to add button tab"
C#
winforms
.net 4.8

can you add tooltip to the add button when your mouse hover over it

@lstratman

[2021-06-13 12:38] manfromarce commented on #64
Thanks for your answer, I eventually solved by cloning the sample application

[2021-07-22 00:37] billqian commented on #62
It would be great if .net core was supported

[2021-08-14 13:02] ghost opened #66 "Personalizing tabs"
so the files come with a chrome like tab bar, but i would like to design my own, i tried the basetabrenderer instead of chrometabrenderer but just go an error, how can i get the base one working and make my own tab renderer?

[2021-08-30 12:19] jarno9981 commented on #43
@lstratman   is this project still Alive last update is 1 year ago and 2.1 Milestone is still 0%

[2021-09-04 22:14] jlecain commented on #8
would be indeed interested to learn how to add a system menu to the tab. Is it possible ? thank you.

[2021-09-20 15:44] KairoMartins18 opened #67 "How do I create a tab in a different form?"
the app starts all right I just can't create a new tab with a different form

[2021-09-20 20:52] KairoMartins18 commented on #28
I didn't really understand how to add a new tab with a different form

[2021-09-30 20:15] spacebytee opened #68 "Dark Mode"
I'm looking for an easy way to make dark mode in EasyTabs, I want this to be able to be changed midway through running my program and I want a way to do it easily, is this possible? There was a previous post about changing colors where they had to change files and stuff, I just want a simple way that can be done easily and is understandable, if anyone can provide me with what I need to do and wher

[2021-10-01 19:42] spacebytee commented on #32
this.ParentTabs.SelectedTab.Caption = text.Text

What class is "this" referring to and how can I get it from another class, this is reallly annoying and I'm kind of confused and frustrated by how EasyTabs works since there's not much clarification here.

[2021-10-02 19:33] spacebytee opened #69 "Custom Tab Renderers"
Hi! I;'m trying to make a custom tab renderer, but I'm most likely missing something, since there's not much information about how to use easytabs online I'd figure I'd ask here, sorry for askign so many questions of here. I'm probably missing something huge but I'm just not sure what I need, whenever I try to run my program with this tab renderer I get an error, I believe it was a NullReferenceEx

[2021-10-10 18:37] maksmkv opened #70 "Сhange the color of a tab"
Hi everyone. How do I change the color of a tab? thank you.

[2021-10-30 04:22] CRYPTXMNESIA opened #71 "Please help"
Please help me change the color of the tabs

[2021-11-02 06:50] jarno9981 commented on #69
@bytespacegames

Try constructor like this

public TabStyle(TitleBarTabs parentWindow) : base(parentWindow) { // Your custom code here }

[2021-11-02 06:54] jarno9981 commented on #70
@maksmkv is based on image the color make a contructor to change ut

public TabStyle(TitleBarTabs parentWindow) : base(parentWindow)

{

// Your custom code here

}

[2021-11-02 06:55] jarno9981 commented on #71
@CryptomnesiaWasTaken   #70 go to issues 70 exact qeustion + code answer

[2021-11-02 06:56] jarno9981 commented on #67
@KairoMartins18 do you have example or a picture van wat you want

[2021-11-03 07:46] maksmkv commented on #70
Thank's

[2021-11-06 21:29] Green-Ten-Tech opened #72 "How can I change the Tab Color"
I tried the other tutorials and answers but there was one problem,
I cant find the BaseTabRenderer or the ChromeTabRenderer Files

Can someone please help me

[2021-11-09 02:06] bytespacegames commented on #69
It says it needs a return type, what do I return with?

[2021-11-09 02:13] spacebytee commented on #69
I still get the error: "Object reference is not set to an instance of an object", why is this happening?

[2021-11-09 02:29] spacebytee commented on #69
Fixed: Issue was that I needed to set literally everything, you need to have a file for each one, you can't just override stuff and leave the rest blank

[2021-11-09 02:29] #69 closed, assigned to nobody

[2021-11-09 06:49] jarno9981 commented on #69
@bytespacegames  okay

[2021-11-21 17:27] 0orc commented on #62
I also.

[2021-11-21 20:05] jarno9981 commented on #62
I made a copy of the repo with .net 5 support but still in alpha on nuget

[2021-11-21 20:06] jarno9981 commented on #62
I made a copy of the repo with .net 5 support but still in alpha on nuget

@0orc

[2021-11-22 06:49] jarno9981 commented on #62
@billqian i added
.net 5 support on costum nuget name : FireTabsNet5

[2021-11-23 04:15] billqian commented on #62
It's great, but it seems different from this project, not a simple copy, I am testing it... thanks!

[2021-11-23 07:03] jarno9981 commented on #62
@billqian

Or look add this project
https://github.com/jarno9981/FireBrowser

In the second form
protected FireTitle ParentTabs
        {
            get
            {
                return (ParentForm as FireTitle);
            }
        }

First form
TabRenderer = new FireTabRenderer(this);

public override FireTitleTab CreateTab() { return new FireTitleTab(this) { Content = new BrowserWindow {

[2021-11-23 07:38] billqian commented on #62
@jarno9981  Thanks so much, working on...

[2021-11-23 08:23] jarno9981 commented on #62
@billqian  its still a alpha version so you may come accros some bugs  Note x64 only

[2021-11-23 08:29] jarno9981 commented on #62
@billqian

https://github.com/jarno9981/FireTabsNet5

the opensource repo

[2021-11-23 08:30] jarno9981 commented on #62
@billqian please make a bug report if you come accros any bug

[2021-11-23 08:45] jarno9981 commented on #62
@billqian if you want you can help and i give you write and read acces the repo

[2021-11-26 00:52] billqian commented on #62
thanks very much, but I think I don't have enough time, I will send you message if I think I readlly can help it. thanks!

[2021-11-26 09:09] 0orc opened #73 "When changing a tab, the application window is often minimized."
Hello everyone.

When changing a tab, the application window is often minimized. It probably results from the function in the windows system that when you double-click the window, the window is minimized. However, in my opinion, when using EasyTabs, you have to move very slowly between the tabs in order not to accidentally minimize the window - it is very frustrating.

On stackoverflow I found man

[2021-11-30 16:45] Tobiasz931 commented on #73
I have the same problem and I also cannot find a workaround. I had a look at TitleBarTabsOverlay.cs and there's this fragment:
`else if (nCode >= 0 && (int) WM.WM_LBUTTONDBLCLK == (int) wParam)
                {
					if (DesktopBounds.Contains(_lastTwoClickCoordinates[0]) && DesktopBounds.Contains(_lastTwoClickCoordinates[1]))
					{
						Invoke(new Action(() =>
						{
							_parentForm.WindowS

[2021-12-07 20:20] jarno9981 commented on #62
@billqian i you find any issues please report in repo

[2021-12-13 08:01] jarno9981 commented on #68
@bytespacegames i have easytabs recoded ass firetabs little design change but dark mode default

[2021-12-15 14:31] d1s2r4a opened #74 "."

[2021-12-16 15:42] #74 closed, assigned to nobody

[2021-12-23 15:41] lstratman commented on #19
Closing this out since I wasn't able to reproduce.

[2021-12-23 15:41] #19 closed

[2021-12-23 15:41] lstratman commented on #33
Closing this out since I wasn't able to reproduce.

[2021-12-23 15:41] #33 closed

[2021-12-23 15:42] lstratman commented on #38
Closing this out since I was not able to reproduce.

[2021-12-23 15:42] #38 closed

[2021-12-23 15:44] lstratman commented on #59
Thanks to @Haltroy for the answer, closing this out.

[2021-12-23 15:44] #59 closed, assigned to nobody

[2021-12-23 15:45] lstratman commented on #71
Thanks to @jarno9981 for the answer, closing this out.

[2021-12-23 15:45] #71 closed, assigned to nobody

[2021-12-23 15:46] lstratman commented on #70
Thanks to @jarno9981 for the answer, closing this out.

[2021-12-23 15:46] #70 closed, assigned to nobody

[2021-12-24 07:46] #62 closed, assigned to nobody

[2021-12-24 07:46] #63 closed, assigned to nobody

[2021-12-24 07:48] jarno9981 commented on #70
@lstratman
Will you update the easytabs libabry so its fits windows 11

[2021-12-30 11:29] cryofgaming opened #75 "Quickly switching between 2 Tabs minimizes/maximizes the application"
Hey,

when I switch between 2 Tabs quickly, the application thinks I'm double-clicking the top-bar/header or whatever it's called.
Then it minimizes or maximizes the application.

Do you have a solution that it won't happen anymore? (In EasyTabs 1.3.3 there was not the problem)
Ofc double-clicking the rest of the top-bar/header (Where no tabs are) should continue to minimize/maximize the applicati

[2021-12-30 11:34] cryofgaming opened #76 "Moving the 2. tab back and forth slows down the application A LOT"
Hey,

when you have 2 or more tabs, and you're moving the tab quickly back and forth—the application gets very, very slow and loads the CPU a lot.

Also, a lot of GCs is happening.

![image](https://user-images.githubusercontent.com/96870153/147748210-1efc8415-ce80-4bb0-9499-275a1e932d09.png)

This also happens when you quickly move your mouse back and forth over those buttons in the top right cor

[2021-12-30 11:38] cryofgaming commented on #75
Ah is duplicate to https://github.com/lstratman/EasyTabs/issues/73

did not saw that. sorry.

#Push
Need solution for that

[2021-12-30 13:00] 0orc opened #77 "Disabling the drag and drop function"
Hi to all.
I would like to disable drag and drop in EasyTabs code.
Anyone tried to do something like this before? Any hint where code to change?
btw It would be useful to have such an option that it would turn off if it doesn't need to be

[2022-01-01 09:45] jarno9981 commented on #54
@LeviBickel  thank you

[2022-01-17 19:24] NTechV opened #78 "When I try create the wrapper it does not work"
When I try create the wrapper it does not work and a error in visual studio saying Form2 does not implement inherited abstract member
"TitleBarTabs.CreateTabs"

[2022-01-17 19:26] #78 closed, assigned to nobody

[2022-01-17 19:26] NTechV commented on #78
I had made a mistake.

[2022-01-21 16:46] #72 closed, assigned to nobody

[2022-02-13 10:27] Larsplays opened #79 "What should the size of the Tab Image be?"
So I wanna make my own Tabs but idk what the size of like the left/right/center part should be.

[2022-02-13 10:46] Larsplays commented on #79
nvm i will just take the crome tabs as reference

[2022-02-13 10:46] #79 closed, assigned to nobody

[2022-03-14 21:31] AW1534 commented on #73
@lstratman this is still an issue. help!

[2022-06-20 19:21] QVP-PierreDavidBelanger opened #82 "GDI+ error/crash when opening and closing multiple tabs"
Memory is filling up and doesnt seems to cleaned when closing tabs. Noticed GDI+ crashing (System.Runtime.InteropServices.ExternalException) when app used about 780mb of RAM. This doesn't happen often as I have to open and close tabs a crazy amount of time but it is reproduceable. Here's log:

System.Runtime.InteropServices.ExternalException
  HResult=0x80004005
  Message=Une erreur générique s'es

[2022-09-18 09:03] Tiegertropfen119-0001 opened #84 "Can't change size"
Hello I have a problem why I can't set a Maximum Size and a Minimum Size I Just get black boarders

This is the main form =>
`      this.MaximizeBox = false;
            this.MaximumSize = new System.Drawing.Size(1177, 636);
            this.MinimizeBox = false;
            this.MinimumSize = new System.Drawing.Size(1177, 636);`
Black boarders =>
![c3qc018ob7tkv5nebac6ey9li](https://user-images.gi

[2022-09-21 01:44] hiiter commented on #84
you can try this:
1. add a panel in from
2. set panel.Dock = DockStyle.Top
3. panel1.Controls.Add(WebBrowser)
4. set WebBrowser.Dock = DockStyle.Fill

[2022-10-21 10:22] GITMoor commented on #73
It seems it still an issue

[2022-10-21 12:53] GITMoor opened #85 "The form lags while moving"
When TitleBarTab loses focus the form starts lagging when moving, until tab regains focus

https://user-images.githubusercontent.com/107041444/197200931-bdc47dbb-c52e-4ae7-8fc6-9ddd90a04f0c.mp4

[2022-11-08 09:48] GITMoor commented on #73
I have found a solution and would like to leave it here for those who may be interested. In the `TitleBarTabsOverlay` class there is an attribute `_isOverCloseButtonForTab`, it indicates that the cursor is in the area of the tab close button. And I just repeated the algorithm for determining this parameter for the whole tab. The algorithm for determining this parameter is in the `InterpretMouseEve